/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Fredoka', sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* BANNER */
.title-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}

.title-container h1 {
    color: #E53170;
    font-weight: 800;
    font-size: 3rem;
}

.title-container p {
    font-size: 1.5rem;
    margin: 80px 0 50px 0;
}

/* MAIN */
.card-container {
    color: #FFFFFE;
    width: 80%;
    margin: 0 auto;
}

.row {
    margin-bottom: 50px;
}

.card {
    box-shadow: 3px 3px 3px 3px grey;
    background-color: #0F0E17;
    width: calc(100% / 3 - 30px);
    font-size: 1.5rem;
    float: left;
    margin-right: 30px;
}

.card img {
    float: left;
    margin-right: 20px;
    height: 150px;
}

.card a {
    color: #159CDE;
    text-decoration: none;
}

.card p, h3 {
    margin: 10px 0;
}
